* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.drag-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    width: 100vw;
    padding: 20px;
}

.drag-item {
    min-height: 250px;
    border: 1px solid #ccc;
    padding: 20px;
}

.drag-item__caption {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.drag-elem {
    padding: 10px;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid rosybrown;
    border-radius: 5px;
    margin-bottom: 10px;
}

.drag-elem:last-child {
    margin-bottom: 0px;
}